  
<div id="offers" class="transitions-enabled">
  <% @offers.each do |offer| %>
  <div class="box panel panel-default">
    <%= image_tag offer.image.url(:medium) %>
    <div class="panel-body">
      <%= offer.description %>
      <%= offer.user.email if offer.user %>
      <%= link_to 'Mostrar', offer %>
      <% if offer.user == current_user %>
        <%= link_to 'Editar', edit_offer_path(offer) %>
        <%= link_to 'Excluir', offer, method: :delete, data: { confirm: 'Você tem certeza?' } %>
      <% end %>
    </div>
</div>
<% end %>
</div>