<%= render 'pages/home' unless user_signed_in? or admin_signed_in? %>  

<div id="offers" class="transitions-enabled">
  <% @offers.each do |offer| %>
  <div class="box panel panel-default">
    <%= link_to image_tag(offer.image.url(:medium)), offer %>
    <div class="panel-body">
      <p><%= offer.description %></p>
      <p><strong><%= offer.admin.name if offer.admin %></strong></p>
      
      
      <% if offer.admin == current_admin %>
        <div class="actions">
            <%= link_to edit_offer_path(offer) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Editar
            <% end %>
            <%= link_to offer, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Excluir
            <% end %>
          </div>
        <% end %>
    </div>
</div>
<% end %>
</div>