<h3>Lista de Ofertas</h3>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.description %></td>
        <td><%= link_to 'Mostrar', offer %></td>
        <td><%= link_to 'Editar', edit_offer_path(offer) %></td>
        <td><%= link_to 'Excluir', offer, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Oferta', new_offer_path %>
