<!DOCTYPE html>
<html>
<head>
  <title>OfertasDeBolso</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= link_to "Ofertas", root_path %>
	<%= link_to "Sobre nós", about_path %>
	<%= yield %>

</body>
</html>
